# Ignore virtual environments
venv/

# Ignore configuration files with sensitive data
.env

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore directories for node modules (if applicable)
node_modules/

# Ignore media files
media/
